/* Reset */
.mortar,
.mortar * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Layout */
.mortar-layout > table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.mortar-layout > table > tbody > tr > td {
    position: relative;
    border: solid 1px #ccc;
    background: #f0f0f0;
    padding: 10px;
    vertical-align: top;
}

.mortar-layout > table > tbody > tr > td.enabled {
    background: transparent;
}

/* Row */
.mortar-rows {
    margin-bottom: 10px;
}

.mortar-row,
.mortar-row > table,
.mortar-row > table > tbody,
.mortar-row > table > tbody > tr,
.mortar-row > table > tbody > tr > td {
    height: 100%;
}

.mortar-row {
    position: relative;
    width: 100%;
    margin: 0 0 5px;
    padding-left: 25px; /* button bar icon width + 1 */
}

.mortar-row > table {
    width: 100%;
    background: #fff;
}

.mortar-row td {
    position: relative;
    border: solid 1px #ccc;
    padding: 5px;
}

.mortar-row__cell {
    position: relative;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
}

.mortar-row__cell-spacer {
    height: 62px;
}

.mortar-row__button-bar {
    border: solid 1px #ccc;
    border-right-color: #fff;
}

.mortar-row__button-bar a {
    background: #fff;
}

/* Button Bar */
.mortar-button-bar {
    z-index: 10;
}

.mortar-button-bar a {
    display: inline-block;
    color: #333;
    background: #fff;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    width: 24px;
    height: 24px;
}

.mortar-button-bar a:hover {
    text-decoration: none;
    color: #fff;
    background: #2e8aea;
}

.mortar-button-bar--vertical a {
    display: block;
}

.mortar-button-bar--tr {
    position: absolute;
    top: 0;
    right: 0;
}

.mortar-button-bar--tl {
    position: absolute;
    top: 0;
    left: 0;
}

/* Items */
.mortar-item {
    width: 100%;
    height: 100%;
}

.mortar-item--vcenter {
    font-size: 0;
    width: 100%;
    height: 100%;
}

.mortar-item--vcenter:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mortar-item--vcenter > * {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.mortar-item__label {
    line-height: 20px;
    padding: 21px 10px;
}

.mortar-item--link,
.mortar-item--media,
.mortar-item--embed {
    background: #e2e2e2 url(../images/cross.svg) center center no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
    padding: 0;
    text-align: center;
    height: 100%;
}

.mortar-item--link .mortar-item__label,
.mortar-item--media .mortar-item__label {
    background: #e2e2e2;
}

.mortar-item__embed {
    width: 100%;
    height: 100%;
}

.mortar-item__embed > * {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    min-height: 330px;
}

.mortar-item__image {
    margin: 10px;
}

.mortar-item--richtext {
    width: 100%;
    height: 100%;
}

.mortar-item--richtext textarea {
    width: 100%;
    height: 230px;
}

.mortar-item--richtext .mce-tinymce {
    height: 100%;
    border: 0 !important;
}

.mortar-item--richtext .mce-toolbar-grp {
    position: absolute;
    bottom: 0;
    border-top: solid 10px #f2f2f2 !important;
    width: 100%;
}

.mortar-item--richtext .mce-toolbar-grp:before {
    content: "...";
    color: #333;
    position: absolute;
    top: -14px;
    left: 50%;
    height: 10px;
    width: 40px;
    margin-left: -20px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
}

.mortar-item--richtext .mce-toolbar-grp .mce-toolbar {
    display: none;
    background: #f2f2f2 !important;
}

.mortar-item--richtext .mce-edit-area {
    border: 0 !important;
    padding: 10px 10px 20px;
    background-color: #fff !important;
    height: 100%;
}

.mortar-item--richtext .mce-edit-area iframe {
    height: 200px !important;
}

/*.mortar-item--richtext .mce-hit-area {
    height: 5px;
    background: #f2f2f2;
}*/

/* Row Layout Option */
.row-layout-options {
    text-align: center;
}

.row-layout-option {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px;
    padding: 2px;
    background: #f2f2f2;
    cursor: pointer;
}

.row-layout-option:hover {
    background: #2e8aea;
}

.row-layout-option table {
    width: 50px;
    height: 30px;
    border-collapse: separate;
    border-spacing: 2px;
}

.row-layout-option td {
    border: solid 1px #ccc;
}

.row-layout-option:hover td {
    border-color: #fff;
}

.mortar-dialog .mortar-dialog-loading {
    background: transparent url(/umbraco/assets/img/loader.gif) center center no-repeat;
}

.mortar-dialog .mortar-dialog-header {
    margin-bottom: -25px;
}

.mortar-dialog .mortar-dialog-header .umb-control-group
{
    border-bottom: none;
}

.mortar-dialog .mortar-dialog-header h3 {
    margin: 0;
}

.mortar-dialog .mortar-dialog-header h3 i {
    font-size: inherit;
}

.mortar-dialog .control-group .controls .control-group .controls {
    padding: 0 5px;
}

.mortar-dialog .ng-invalid .control-group .control-label {
    color: #b94a48;
}

.mortar-dialog .ng-invalid .control-group .controls input {
    border-color: #b94a48;
}
